<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Musika!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


        {% if session.logged_in %}

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">

      <li class="nav-item">
        <a class="nav-link" href="/Albums">Albums</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Artistes">Artistes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tracks">Chansons<span class="sr-only">(current)</span></a>
      </li>
    </ul>
      <ul class="navbar-nav ml-auto" >
           <li class="nav-item">
           <a class="nav-link" href="/logout">Déconnection</a>
           </li>
           <liclass="nav-item">
             <a class="nav-link" href="/dashboard">Profil</a>
           </li>
          </ul>

        {% else %}
          <ul class="navbar-nav ml-auto" >
         <li class="nav-item">
         <a class="nav-link" href="/register">Créer un compte</a>
         </li>
        <li class="nav-item">
        <a class="nav-link" href="/login">Connection</a>
        </li>
        {% endif %}
      </ul>



  </div>
</nav>