{% extends 'layout.html' %}
{% block body %}

<br>
<div class="container">
    <h2 style="text-align: center">{{album.name}}</h2>
    <br>
    <div class="row">
        <div class="card col-md-4">
            <img src="{{album.image}}" style="height: 18rem">
        </div>
        <div class="col-md-6">
            <p class="lead">{{album.description}}</p>
        </div>
    </div>
</div>
<br>
<div class="container">
    <h2 style="text-align: center">Liste des chanson de l'album {{album.name}}</h2>
    <div class="row">
        {% for track in album.tracks %}
        <div class="card col-md-4" style="width: 18rem;">
            <div class="card-body">
                <h3>{{track.tackName}}</h3>
                <h3>{{track.trackDuration}}</h3>
                <p><a class="btn btn-secondary" href="../../tracks/{{track.trackId}}" role="button">Écouter la chanson</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    {% endblock %}