{% block body %}


<h1>{{album.name}}</h1>
<div class="container">

        <div class="card col-md-4" style="width: 18rem;">
            <img src="{{album.image}}" style="height: 18rem">
            <div class="card-body">
                <h2>{{album.name}}</h2>
                <h3>{{album.artist}}</h3>
            </div>
        </div>

<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    t
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


</div>

<div class="container">
    <h1>Chansons</h1>
    <div class="row">
        {% for album in album.tracks %}
        <div class="card col-md-4" style="width: 18rem;">
				  <img src="{{album.image}}" style="height: 18rem">
				  <div class="card-body">
	            	<h2>{{album.name}}</h2>
                    <h3>{{album.duration}}</h3>
                  </div>
        </div>

    </div>
        {% endfor %}
</div>
{% endblock %}