% extends 'layout.html' %}
{% block body %}

<h1>{{album.name}}</h1>
<div class="container">

        <div class="card col-md-4" style="width: 18rem;">
            <img src="{{artiste.image}}" style="height: 18rem">
            <div class="card-body">
                <h2>{{artiste.name}}</h2>
            </div>
        </div>

<p class="lead">biographie de l'artiste     .</p>

</div>

<div class="container">
    <h1>Chansons</h1>
    <div class="row">
        {% for album in artiste.albums %}
        <div class="card col-md-4" style="width: 18rem;">
				  <div class="card-body">
	            	<h2>{{album.name}}</h2>
                    <h3>{{album.image}}</h3>
                  </div>
        </div>

    </div>
        {% endfor %}
</div>
{% endblock %}