{% extends 'layout.html' %}
{% block body %}

<br>
<div class="container">
    <h2 style="text-align: center">{{artiste.name}}</h2>
    <br>
    <div class="row">
        <div class="card col-md-4">
            <img src="{{artiste.image}}" style="height: 18rem">
        </div>
        <div class="col-md-6">
            <p class="lead">{{artiste.description}}</p>
        </div>
    </div>
</div>
<br>
<div class="container">
    <h2 style="text-align: center">Liste des albums de {{artiste.name}}</h2>
</div>
<!--<div class="container">
    <h1>Chansons</h1>
    <div class="row">
        {% for album in artiste.albums %}
        <div class="card col-md-4" style="width: 18rem;">
				  <div class="card-body">
	            	<h2>{{album.name}}</h2>
                    <h3>{{album.image}}</h3>
                  </div>
        </div>

    </div>
        {% endfor %}
</div>-->
{% endblock %}