{% extends 'layout.html' %}

{% block body %}
<br>
 <h1>Profil</h1>
<br>
 <h3>Liste des chansons favorites</h3>
<br>
      <div class="container">
			<div class="row">
			{% for track in tracks %}
				<div class="card col-md-4" style="width: 18rem;">
					<div class="card-body">
						<h3>{{track.name}}</h3>
	            		<h3>{{track.duration}}</h3>
	            	<p><a class="btn btn-secondary" href="tracks/{{track.id}}" role="button">Écouter chanson </a></p>
					<p><a class="btn btn-secondary" href="tracks/delete_track/{{track.id}}" role="button"> Supprimer des favoris</a></p>
				  </div>
				</div>
			{% endfor %}
			</div>
		</div>


{% endblock %}