{% extends 'layout.html' %}

{% block body %}
<br>
<h1 style = "display: inline-block">tracks</h1>
<div class="row" style="display: inline-block; min-width: 80%;">
    <div class="col-lg-6">
        <div class="input-group">
            <input  type="text" class="form-control" placeholder="Search for track.." onkeydown="goToSearch(this)"  value="">
        </div><!-- /input-group -->
	</div><!-- /.col-lg-6 -->
</div>
	<p class="lead">Les chansons disponible sont .</p>

		<div class="container">
			<div class="row">
			{% for track in tracks %}
				<div class="card col-md-4" style="width: 18rem;">
					<div class="card-body">
						<h3>{{track.name}}</h3>
	            		<h3>{{track.duration}}</h3>
	            	<p><a class="btn btn-secondary" href="tracks/{{track.id}}" role="button">Écouter chanson </a></p>
					<p><a class="btn btn-secondary" href="tracks/add_track/{{track.id}}" role="button"> Ajouter au favoris </a></p>
				  </div>
				</div>
			{% endfor %}
			</div>
		</div>
	<script>
function goToSearch(el) {

    if(event.key === 'Enter') {
        var searchTerm = el.value;
        window.location = "tracks/search?term=" + searchTerm;
    }
}
</script>
{% endblock %}